html{
    background:#e0e0e0;
    font-family:arial;
}
body {
    max-width:1000px;
    background:white;
    margin:0 auto;
    height:100vh;
}
h1 a {
    color:white;
    text-decoration: none;
}
h1 {
    background:#02329a;
    margin:0;
    padding:25px 2%;
    width:96%;
    font-size:1.1em;
    text-align:left;
}
h3 {
    background:#6797ce;
    color:white;
    width:96%;
    font-size:0.7em;
    padding:10px 2%;
    margin:0;
}
h2 {
    position:absolute;
    top:200px;
    display:block;
    color:black;
    font-size:.9em;
    width:400px;
}
h2::after {
    display:block;
    background-image:url('https://myspace.com/common/images/user.png');
    background-size:200px 300px;
    background-position:left;
    background-repeat:no-repeat;
    height:400px;
    font-size:.5em;
    padding:0 10px 0px 210px;
    width:60%;
    content:"'What do I do with my hands'  California    United States";

}
ul::before {
    border:1px solid black;
    content:"but most of all, beginbot is my hero";
    color:#000;
    font-size:.9em;
}
ul {
    position:absolute;
    top:200px;
    left:50%;
    list-style-type: none;
    border-top:20px solid #f4c996;
    padding:20px;
    width:60%;
}
li a {
    color:black;
    font-size:.5em;
    text-decoration: none;
}
li a:hover {
    color:#f4c996;
}