@font-face{ 
	font-family: 'pokemon_hollownormal';
	src: url('fonts/pokemon_hollownormal.woff2') format('woff2'),
	     url('fonts/pokemon_hollownormal.woff') format('woff'),
	     url('fonts/pokemon_hollownormal.ttf') format('truetype');
}
body {
    
    background:unset;
    background-image:url('https://imgur.com/l30r8dK.png');
    background-size:auto 100%;
    background-position:center;
    background-repeat:no-repeat;
}
h1 a, h2 {
    font-family: 'pokemon_hollownormal';
    color:#2457b4;
    text-shadow:0 0 0, 0 0 0, 5px 5px 1px #1b3374 ;
}