@font-face{ 
	font-family: 'pokemon_hollownormal';
	src: url('fonts/pokemon_hollownormal.woff2') format('woff2'),
	     url('fonts/pokemon_hollownormal.woff') format('woff'),
	     url('fonts/pokemon_hollownormal.ttf') format('truetype');
}
html{
   background:#fec90c;
  background: rgb(255,0,0);
   background: linear-gradient(13deg, rgba(255,0,0,1) 0%, rgba(254,201,12,1) 35%);
    }
body {
    
    background:unset;
    background-image:url('https://imgur.com/l30r8dK.png');
    background-size:auto 100%;
    background-position:center;
    background-repeat:no-repeat;
}
h1 a, h2 {
    font-family: 'pokemon_hollownormal';
    color:#fec90c;
    text-shadow:-2px 2px 2px #1b3374 ;
}
h3 {
    color:#2457b4;
}
ul {
    text-decoration:none;
}
li a {
    color:#2457b4;
}